{%extends 'base.html'%}
{% block content %}
<div class="container">

  <div class="row">
    {% if images%}
      <h2>{{ images|length }} ordered by their locations</h2>
    {% else %}
      <h2> No Images Available</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if images %}
    {% for image in images %}
      <div class="col-sm-6 col-md-3">
          <h1>{{image.name}}</h1>
          <a href="{% url 'single_image' image.id %}"> Go to Copy Url </a>
          <img src="{{image.image_path.url}}" class="img-responsive selectedImage" alt="Image">
          <h3>{{image.location}}</h3>
      </div>

      <div id="myModal" class="modal">
        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img src='' class="modal-content" id="modal-con">

        <div class="modal-content text-center">
          <h4> <strong>Description:</strong> {{image.description}}</h4>
          <h6> <strong>Location:</strong> {{image.location}}</h6>
          <h6> <strong>Category:</strong> {{image.category}}</h6>
          <h5> <strong>Photographer:</strong> {{image.photographer}}</h5>
          <span> <input type="text" value="{{image.image_path.url}}" id="imageUrl" disabled> <button id='me' class="btn btn-info" style="color: white;">Copy Image Address</button> </span>
        </div>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
